[Unit]
Description=ML Model Server for ModSecurity
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/vboxuser/Downloads/mlpluginmodsec/ml_model_server
Environment=PYTHONPATH=/home/vboxuser/Downloads/mlpluginmodsec
ExecStart=/usr/bin/python3 /home/vboxuser/Downloads/mlpluginmodsec/ml_model_server/placeholder.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
